body {
    background-size: cover;
    /* Esto hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */

}


.social-btn {
    transition: color 0.3s ease, border-color 0.3s ease;
}

.social-btn:hover {
    color: #ffffff;
    /* Cambia el color del ícono en el hover */
    border-color: #ffffff;
    /* Cambia el color del borde en el hover */
}

.btn-outline-gray {
    border-color: #6c757d;
    /* Color del borde inicial */
    color: #6c757d;
    /* Color del ícono inicial */
}

.btn-outline-gray:hover {
    background-color: #6c757d;
    /* Color de fondo en el hover */
    color: #ffffff;
    /* Color del ícono en el hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.card {
    transition: opacity 0.3s ease;
}


.card-text {
    animation: fadeIn 2s ease-in-out, bounce 2s infinite;
}

.card-text i {
    animation: bounce 2s infinite;
}

.bg-image {
    background-image: url('/images/warzone.mp4');
    /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    height: 300px;
    /* Ajusta la altura según sea necesario */
    color: white;
    /* Ajusta el color del texto según sea necesario */
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 15px 0 0 15px;
}

.botonestitulos {
    background-color: #80b404;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

.arrowleft {
    font-size: 40px;
    margin-right: 185px;
}

.arrowright {
    font-size: 40px;
    margin-left: 185px;
}

.efectos {
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s, background-color 0.3s;
    border: 2px solid #ffffff;
    border-radius: 8px;
    /* Añadido para bordes redondeados */
    background-color: #111;
    /* Fondo oscuro para resaltar el neón */
    position: relative;
    overflow: hidden;
}

.efectos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 255, 0.2);
    /* Color de neón azul */
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    /* Sombra de neón azul */
    border-radius: 8px;
    /* Asegúrate de que se alineé con el borde redondeado del contenedor */
    transition: opacity 0.3s;
    opacity: 0;
}

.efectos:hover::before {
    opacity: 1;
}

.efectos:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    /* Sombra de neón más intensa en azul */
    border-color: #0ff;
    /* Color azul neón */
    cursor: pointer;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.sombra {
    border: none;
    border-color: none;
    cursor: pointer;
    border-radius: 15px;
}


.fondocarrusel {
    background-image: url('/images/mando.jpg');
    border-radius: 0 15px 15px 0;
}

.fondo2 {
    background-image: url('/images/fondo2.jpg');
}

.imagenlogo {
    width: 300px;
    height: 300px;
    max-width: 100%;
    /* Evita que la imagen se expanda más allá del ancho de su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.col-md-6 {
    max-width: 50%;
    /* Limita el tamaño máximo de la columna */
    overflow: hidden;
    /* Evita que el contenido desborde */
}

:root {
    --clr-neon: hsl(192, 100%, 54%);
    --clr-bg: hsl(59, 96%, 82%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.neon-button {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.5em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    margin-top: 0px;
    width: 150px;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear, box-shadow 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
    border-color: var(--clr-bg);
    /* Cambia el color del borde en hover */
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
    box-shadow: 0 0 3em 1em var(--clr-neon);
}

.seccion3 {
    margin-bottom: -60px;
}

.catalogo {
    border-radius: 15px;
}

.highlighted-text {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff, 0 0 25px #0ff, 0 0 30px #0ff, 0 0 35px #0ff;
    animation: neon-flicker 1.5s infinite;
}

.highlighted-subtext {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 3px #ff0, 0 0 5px #ff0, 0 0 10px #ff0;
    margin-top: 0.5rem;
}

@keyframes neon-flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.titulo {
    margin-top: 300px;
}

.seccion {
    margin-bottom: -150px;
}

.seccion4 {
    margin-top: -300px;
}

.gamer-card {
    border: 2px solid #1877F2;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 300px;
    height: 490px;
    position: relative;
    /* Ensure positioning for the overlay */
    overflow: hidden;
    /* Hide overflow to maintain border radius */
}

.gamer-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #1877F2;
}

/* Overlay styles */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.3s ease-in-out;
}

.gamer-card:hover .overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.overlay .text-white {
    padding: 20px;
    font-size: 1rem;
}


.gamer-card img {
    height: 300px;
}

.neon-text {
    color: #1877F2;
    text-shadow: 0 0 5px #1877F2, 0 0 10px #1877F2, 0 0 20px #1877F2;
    font-size: 20px;
}

.neon-button {
    background-color: #1877F2;
    border: none;
    color: white;
    box-shadow: 0 0 5px #1877F2, 0 0 10px #1877F2, 0 0 20px #1877F2;
    transition: box-shadow 0.3s ease-in-out;
}

.neon-button:hover {
    box-shadow: 0 0 10px #1877F2, 0 0 20px #1877F2, 0 0 40px #1877F2;
}


/* menu de ps3 */
.all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);

    .text {
        opacity: 1;
    }

    &>div {
        opacity: 1;
        transition-delay: 0s;
    }

    .explainer {
        opacity: 0;
    }
}

.left,
.center,
.right,
.lefter,
.righter {
    width: 80px;
    height: 60px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.4);
    /* Cambiado a azul neón */
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(66, 225, 245);
    /* Cambiado a azul neón */
    cursor: pointer;
    background-blend-mode: color-burn;

    &:hover {
        box-shadow: 0 0 30px 10px rgba(0, 255, 255, 0.6);
        /* Cambiado a azul neón */
        background-color: #ccf;
    }
}

.text {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.2s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.6);
    /* Cambiado a azul neón */
}

.lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://iili.io/d1vVMhB.png);

}

.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://iili.io/d1vG3pp.png);
}

.center {
    opacity: 1;
    background-image: url(https://iili.io/d1vcq9S.png);
}

.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://iili.io/d1v03pS.png);
}

.righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://iili.io/d14pkep.png);
}

.explainer {
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #66e6ff, #33ccff);
    /* Cambiado a azul neón */
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    /* Cambiado a azul neón */

    display: flex;
    justify-content: center;
    align-items: center;
}

.ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #0ff, #09f);
    /* Cambiado a azul neón */
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

    &::first-letter {
        font-size: 12px;
    }
}



.social-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
}

.social-link {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: #1da1f2;
    /* Color de hover, puedes cambiarlo */
}

.lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://iili.io/d1vVMhB.png);

}